<!DOCTYPE html>
<html>
    <head>
    {% block head %}
      <title>The Personal Website of Steven Bucholtz</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {% endblock %}
    </head>

    <body>  
        <div class="sidenav">
          {% if session['login'] %}
            <a>Welcome, Steven</a>
            <a href="{{ url_for('logoutpage') }}">Logout</a>
            <a href="{{ url_for('page3') }}">Javascript Recursion Bomb Example</a>
            <a href="{{ url_for('page4') }}">Javascript Iframe Exploit Example</a>
            <a href="{{ url_for('page5') }}">This will kill your browser</a>
          {% else %}
          <a href="{{ url_for('loginpage') }}">Login</a>
          {% endif %}
        </div>

        <div class="main">
            {% block content %}{% endblock %}
        </div>
    </body>

